// header{
//     background-color: black;
//     padding: 0;
//     color: white;
//     margin-bottom: $m-size;
//     display: flex;
//     justify-content: space-around;
 

// }


// h1{
//     // margin-right: auto;
//     // margin-left: 300px;
    
// }

.logoutButton{
 
    border: none;
    color: white;
    background-color: inherit;

}

.header{
   background: $dark-blue; 
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}

.header__title{
    color: white;
    text-decoration: none;
    h1{
        margin: 0;
    }
}